In [1]:
from fastai.tabular.all import *

In [2]:
data_path = 'C:/Users/light/Documents/Fastbook/Personal-Machine-Learning-Data/'

In [3]:
df = pd.read_csv(data_path + 'simple calculator.csv')

In [4]:
df.head()

   num1 symbol  num2  answer
0     1    add     1     2.0
1     1    add     2     3.0
2     1    add     3     4.0
3     1    add     4     5.0
4     1    add     5     6.0

In [5]:
splits = RandomSplitter(valid_pct=0.1)(range_of(df))

In [6]:
to = TabularPandas(df, procs=[Categorify],
                  cont_names = ['num1', 'num2'],
                  cat_names = ['symbol'],
                  y_names = 'answer',
                  y_block=CategoryBlock,
                  splits=splits)

In [7]:
len(to.train),len(to.valid)

(540, 60)

In [8]:
to.xs.iloc[:2]

     symbol  num1  num2
515       2     6     2
548       2     9     5

In [9]:
dls = to.dataloaders(bs=64, num_works = 0)

In [10]:
dls.show_batch()

In [11]:
learn = tabular_learner(dls, metrics=accuracy)

In [12]:
learn.fit_one_cycle(100)

In [13]:
learn.show_results()

In [29]:
d = {'num1': [2], 'symbol': ['add'], 'num2': [5]}
df2 = pd.DataFrame(data=d)
df2

   num1 symbol  num2
0     2  multi     5

In [30]:
row, clas, probs = learn.predict(df2.iloc[0])

In [31]:
row.show()

In [17]:
clas, probs

(tensor(64),
 tensor([3.9154e-05, 1.6651e-05, 1.7544e-05, 6.2239e-06, 1.8174e-05, 7.8181e-06,
         3.7367e-07, 3.5387e-06, 8.2722e-06, 1.4691e-07, 2.2087e-05, 1.8752e-05,
         5.3357e-05, 3.1420e-05, 5.6199e-06, 5.6296e-05, 3.6273e-06, 2.7480e-04,
         3.2234e-06, 1.1079e-04, 1.6181e-04, 3.5896e-04, 6.0422e-05, 4.4934e-05,
         2.5132e-05, 1.0328e-04, 4.9851e-04, 1.4747e-05, 3.8161e-06, 2.2752e-05,
         6.8726e-06, 5.3264e-06, 1.7735e-03, 8.1124e-05, 7.1317e-05, 1.0365e-05,
         3.9937e-06, 6.1916e-06, 2.0427e-06, 1.6157e-05, 3.6584e-05, 6.2392e-04,
         2.2272e-03, 1.8460e-06, 1.0159e-05, 8.0707e-05, 9.6482e-06, 1.7852e-05,
         4.2695e-04, 7.2589e-05, 7.6199e-06, 1.3070e-05, 1.6118e-05, 4.0306e-04,
         5.3399e-05, 6.9157e-05, 5.1873e-06, 4.5194e-04, 1.9710e-05, 6.1423e-05,
         1.2396e-04, 2.1595e-03, 2.5439e-02, 8.8590e-02, 4.0422e-01, 2.5930e-01,
         1.2884e-01, 4.5808e-02, 1.9414e-03, 3.0849e-03, 2.2518e-03, 2.5355e-03,
         7.9155e-06, 3.1426e-03, 9.8512e-03, 1.3353e-03, 2.5436e-03, 5.7170e-03,
         3.1322e-05, 1.3555e-03, 1.1524e-03, 2.2820e-04, 4.9514e-04, 5.6267e-04,
         2.4456e-04, 1.9209e-04, 1.1912e-05, 3.0375e-05, 1.1281e-04, 1.3849e-05,
         3.3375e-05, 9.8631e-06, 3.7362e-05, 1.3259e-05, 7.0808e-06]))