In [1]:
from fastai.tabular.all import *

In [2]:
df = pd.read_csv('iris.csv', header=None,
                names=['sepal length','sepal width','petal length',
                       'petal width','iris'])

In [3]:
df.head()

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
splits = RandomSplitter(valid_pct=0.2)(range_of(df))

In [5]:
to = TabularPandas(df, procs=[Categorify],
                  cont_names = ['sepal length','sepal width','petal length',
                       'petal width'],
                  y_names = 'iris',
                  y_block = CategoryBlock, 
                  splits=splits)

In [6]:
to.xs.iloc[:2]

     sepal length  sepal width  petal length  petal width
115           6.4          3.2           5.3          2.3
16            5.4          3.9           1.3          0.4

In [7]:
dls = to.dataloaders(bs=64, num_works = 0)

In [8]:
dls.show_batch()

In [9]:
learn = tabular_learner(dls, metrics=accuracy)

In [10]:
learn.fit_one_cycle(30)

In [11]:
learn.show_results()

In [12]:
d = {'sepal length': [5.1], 'sepal width': [3.0], 'petal length': [4.1], 'petal width':[1.5]}
df2 = pd.DataFrame(data=d)
df2

   sepal length  sepal width  petal length  petal width
0           5.1          3.0           4.1          1.5

In [13]:
learn.model.eval()

TabularModel(
  (embeds): ModuleList()
  (emb_drop): Dropout(p=0.0, inplace=False)
  (bn_cont): BatchNorm1d(4, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): LinBnDrop(
      (0): Linear(in_features=4, out_features=200, bias=False)
      (1): ReLU(inplace=True)
      (2): BatchNorm1d(200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (1): LinBnDrop(
      (0): Linear(in_features=200, out_features=100, bias=False)
      (1): ReLU(inplace=True)
      (2): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (2): LinBnDrop(
      (0): Linear(in_features=100, out_features=3, bias=True)
    )
  )
)